@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Signika:wght@300&display=swap");

h1 {
  font-family: "Signika", sans-serif;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 407px 112px;
  background-position: 80% 30%;
}
