* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("https://blog.kakaocdn.net/dn/1VSHF/btrePWoVisg/S02laebW7NKVDCKpMsDnKk/img.jpg");
}

.containar {
  width: 100%;
  height: 100%;
  padding: 144px 64px;
  background: none;
}

.Hangang {
  height: auto;
  color: #fff;
  border-bottom: 1px solid aliceblue;
  font-size: 80px;
  font-weight: 700;
  background: none;
}

p {
  height: auto;
  margin-top: 15px;
  color: #fff;
  background: none;
=======
}

.hangang {
  font-size: 80px;
  font-weight: 700;
>>>>>>> main
}
